@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@layer base {
	:root {
		--background: #0d1117;
		--foreground: #322e42;
		--primary: #4b3a6f;
		--secondary: #9475b6;
		--accent: #c6c4c4;
	}

	:root {
		--page-x-padding: 1rem;
		--page-y-padding: 2rem;
	}
}

@theme {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-accent: var(--accent);
}
