@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'colors.scss';
@import 'screen.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		Fira Sans,
		Droid Sans,
		Helvetica Neue,
		sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.bg-black-900 {
	background-color: $black;
}

.bg-white-900 {
	background-color: $white;
}

.bg-red-900 {
	background-color: $red;
}

.bg-yellow-900 {
	background-color: $yellow;
}

.bg-green-900 {
	background-color: $green;
}

.bg-blue-900 {
	background-color: $blue;
}

.bg-dark-800 {
	background-color: #242424;
}

.text-green-900 {
	color: $green;
}

.text-blue-900 {
	color: $blue;
}

.text-yellow-900 {
	color: $yellow;
}

.text-red-900 {
	color: $red;
}

.text-white-900 {
	color: $white;
}

.text-black-900 {
	color: $black;
}
