@import '@/styles/_screen.scss';

.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include lg {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.main {
		padding-top: 50px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;

		@include lg {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.title {
			font-family: var(--font-montserrat);
			font-weight: bold;
			font-size: 36px;

			@include lg {
				font-size: 66px;
				max-width: 555px;
			}
		}

		.brand {
			display: none;

			@include lg {
				display: block;
				width: 240px;
				height: 270px;
				position: relative;
			}
		}
	}

	.expertise {
		// padding-top: 50px;
		// flex: 1;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;
		// position: relative;
		// width: 100%;
		flex: 1;
		display: flex;
		align-items: center;
		font-family: var(--font-roboto);
		font-size: 48px;
		text-align: center;
	}
}
